Package: hustoj-doc
Source: hustoj
Version: 0.0.1
Architecture: all
Maintainer: zhblue <zhblue@hustoj.com>
Installed-Size: 26
Section: education
Priority: optional
Homepage: <http://hustoj.com>
Description: documentation for hustoj
 <hustoj is an online judge system written in c++ and php, popular in ACM/ICPC contest trainning and programming education >
